html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 300;
  font-synthesis: 1.6;
}

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 65vh) repeat(5, min-content);
  grid-template-columns: minmax(min-content, 25rem) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr) 1fr;
  position: relative;
}
@media only screen and (max-width: 850px) {
  .container {
    grid-template-rows: min-content 60vh repeat(5, min-content);
  }
}

.navbar {
  background-color: #e9e9e9;
  grid-column: 1/2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 850px) {
  .navbar {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.navbar__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__img--selfimage {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.navbar__img--logo {
  width: 10em;
  margin-top: 1rem;
}
.navbar__paragraph {
  text-align: justify;
  padding: 0 1.5rem;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.6rem;
}
@media only screen and (max-width: 850px) {
  .navbar__paragraph {
    padding: 0 3rem;
  }
}
.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
@media only screen and (max-width: 850px) {
  .navbar__list--menue {
    display: none;
  }
}
.navbar__list--menue::before {
  content: "";
  display: table;
  clear: both;
}
.navbar__list--menue.collapse {
  display: block;
}
.navbar__list--menue-item {
  list-style: none;
  margin-top: 1.8rem;
}
.navbar__list--menue-item-link {
  text-decoration: none;
  transition: all 0.4s;
  position: relative;
  color: cornflowerblue;
}
.navbar__list--menue-item-link::before {
  content: "";
  position: absolute;
  transition: all 0.4s;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #d6249f;
  transform: scaleX(0);
}
.navbar__list--menue-item-link:hover:before {
  transform: scaleX(1);
}
.navbar__list--nav-toggle {
  display: none;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}
@media only screen and (max-width: 850px) {
  .navbar__list--nav-toggle {
    display: block;
  }
}
.navbar__list--nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #414487;
  transition: all 0.25s;
}
.navbar__list--nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.navbar__list--nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navbar__list--nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.follow {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 10rem) 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;
  color: #414487;
  margin-top: 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.follow::before,
.follow::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.social_media {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 1.5rem;
  justify-content: center;
}
.social_media-item {
  list-style: none;
}

.icon {
  width: 3.5rem !important;
  height: 3.5rem !important;
  border-radius: 50% !important;
  text-align: center !important;
  line-height: 3.5rem !important;
  vertical-align: middle !important;
  color: #fff !important;
  font-size: 1.6rem !important;
}

.fa-facebook {
  background-color: #3b5998 !important;
}

.fa-twitter {
  background-color: #1da1f2;
}

.fa-instagram {
  background-color: #d6249f !important;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%) !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.fa-linkedin {
  background-color: #0077b5;
}

.fa-google-plus {
  background-color: #d04338;
}

.header {
  grid-column: 2/-1;
  background-image: linear-gradient(to right, rgba(66, 153, 225, 0.8), rgba(99, 179, 237, 0.8)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 850px) {
  .header {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.header__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
}
.header__heading--1 {
  font-size: 9rem;
}
@media only screen and (max-width: 850px) {
  .header__heading--1 {
    font-size: 7rem;
  }
}
.header__heading--3 {
  font-size: 4rem;
}
@media only screen and (max-width: 850px) {
  .header__heading--3 {
    font-size: 2rem;
  }
}
.header__heading--6 {
  font-size: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 850px) {
  .header__heading--6 {
    font-size: 1.4rem;
  }
}
.header__btn {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  padding: 1.5rem 0;
  border: none;
  background-color: transparent;
  color: #f8f8f8;
  font-size: 1.6rem;
  border: 1px solid #f8f8f8;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
